/* Media size responsive */

@media (max-width: 1920px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column ;
    }

    .w-50{
        max-width: 30rem;
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .header-right {
        float: none;
      }
}

@media (max-width: 720px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column ;
    }

    .w-50{
        max-width: 30rem;
    }

    .card {
        width: 100%;
    }
}



.b{
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
}

.c{
    background-color: white;
}

.box {
    margin: 4rem;
    border-radius: 10px;
}

.card {
    display: inline;
    border-radius: 10px;
    margin: 20px;
}


.title-1{
    text-align:center; 
    margin: auto; 
    color: aliceblue; 
    font-size: 3em; 
    font-weight: 600;
    line-height: 1em;
}

.title-2 {
    text-align:center; 
    margin: auto; 
    color: rgb(255, 255, 255); 
    font-size: 1.5em; 
    font-weight: 400;
    line-height: 1em;
}

.paragraf{
    color: aliceblue;
}

.text-align-center {
    text-align: center;
}

.pt-2 {
    padding-top: 20px;
}

.d-flex {
    display: flex;
}



/* header */
.header {
    padding: 20px 10px;
    width: 100%;
  }
  
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 20px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    border: 1px solid #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: white;
    color:  rgb(72, 121, 23, 1)
    
  }
  
  .header-right {
    float: right;
  }

  .button {
    color: white;
    background-color: orange;
    width: 14em;
    height: 2.5em;
    padding-top: 15px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    border-radius: 22px;
  }
  


/* Font Face */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  